.header {
    background-color: $color-grey-dark-1;
    grid-column: full-start / col-end 6;
    background-image: linear-gradient(
            rgba($color-secondary, 0.93),
            rgba($color-secondary, 0.93)
        ),
        url('../img/hero.jpeg');

    background-size: cover;
    background-position: center;

    padding: 80px;
    padding-top: 40px;
    display: grid;
    grid-template-rows: 1fr min-content minmax(60px, min-content) 1fr;
    grid-template-columns: minmax(min-content, max-content);
    grid-row-gap: 15px;
    justify-content: center;

    &__logo {
        height: 30px;
        justify-self: center;
    }

    &__btn {
        align-self: start;
        justify-self: start;
    }

    &__seenon-text {
        display: grid;
        grid-template-columns: 1fr max-content 1fr;
        grid-column-gap: 15px;
        align-items: center;

        font-size: 16px;
        color: $color-grey-light-2;

        &::before,
        &::after {
            content: '';
            height: 1px;
            display: block;
            background-color: currentColor;
        }
    }

    &__seenon-logos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 30px;
        justify-items: center;
        align-items: center;
        img {
            max-height: 25px;
            max-width: 100%;
            filter: brightness(70%);
        }
    }
}
